.mascotte-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #555;
}

.mascotte-empty img {
  width: 150px;
  margin-bottom: 1rem;
}